@import '../../styles.sass'

:host
    @include content-host

@mixin padLines($n)
    height: $n*20 + 10px

$textSize: 16px
$textHeight: 20px

.host404
    display: flex
    margin: 22px auto 22px
    padding: 0 160px
    max-width: 460px
    flex-direction: column
    align-items: flex-start
    color: #000

    .spacer
        @include spacer(1)
    
    .line-break
        @include spacer(0.5)

    .n404-default
        font-size: $textSize * 6
        font-weight: 750
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
        color: #999
        line-height: $textHeight * 6
        box-sizing: border-box
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        
    .oops-default
        font-size: $textSize
        text-transform: uppercase

    .msg-default
        font-size: $textSize
        font-variant: small-caps

    .back-default
        a
            @include light-link
            &:before
                content: "« "

