
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-side-nav (sidenavClose)="sidenav.close()"></app-side-nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <!--in here all the content must reside. We will add a navigation header as well-->
    <main>
      <app-header [appName]="title" (sidenavToggle)="sidenav.toggle()"></app-header>
      <router-outlet></router-outlet>  
      <app-footer [appName]="name" [appRepo]="repo"></app-footer>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<!--a [routerLink]="[{ outlets: { primary: ['about'], footer: ['about'] } }]">About</a-->
